
prova-api/target/
prova-api!.mvn/wrapper/maven-wrapper.jar

### STS ###
prova-api/.apt_generated
prova-api/.classpath
prova-api/.factorypath
prova-api/.project
prova-api/.settings
prova-api/.springBeans
prova-api/.sts4-cache

### IntelliJ IDEA ###
prova-api/.idea
prova-api/*.iws
prova-api/*.iml
prova-api/*.ipr

### NetBeans ###
prova-api/nbproject/private/
prova-api/nbbuild/
prova-api/dist/
prova-api/nbdist/
prova-api/.nb-gradle/
prova-api/build/

### VS Code ###
prova-api/.vscode/



##Frontend
provareact/.vscode/
# OSX
#
provareact/.DS_Store

# Xcode
#
provareact/build/
provareact/*.pbxuser
provareact/!default.pbxuser
provareact/*.mode1v3
provareact/!default.mode1v3
provareact/*.mode2v3
provareact/!default.mode2v3
provareact/*.perspectivev3
provareact/!default.perspectivev3
provareact/xcuserdata
provareact/*.xccheckout
provareact/*.moved-aside
provareact/DerivedData
provareact/*.hmap
provareact/*.ipa
provareact/*.xcuserstate
provareact/project.xcworkspace

# Android/IntelliJ
#
provareact/build/
provareact/.idea
provareact/.gradle
provareact/local.properties
provareact/*.iml

# node.js
#
*/node_modules
provareact/node_modules/
provareact/npm-debug.log
provareact/yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https:/docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
