
prova-api/target/
prova-api!.mvn/wrapper/maven-wrapper.jar

### STS ###
prova-api/.apt_generated
prova-api/.classpath
prova-api/.factorypath
prova-api/.project
prova-api/.settings
prova-api/.springBeans
prova-api/.sts4-cache

### IntelliJ IDEA ###
prova-api/.idea
prova-api/*.iws
prova-api/*.iml
prova-api/*.ipr

### NetBeans ###
prova-api/nbproject/private/
prova-api/nbbuild/
prova-api/dist/
prova-api/nbdist/
prova-api/.nb-gradle/
prova-api/build/

### VS Code ###
prova-api/.vscode/



##Frontend
provafrontend/.vscode/
# OSX
#
provafrontend/.DS_Store

# Xcode
#
provafrontend/build/
provafrontend/*.pbxuser
provafrontend/!default.pbxuser
provafrontend/*.mode1v3
provafrontend/!default.mode1v3
provafrontend/*.mode2v3
provafrontend/!default.mode2v3
provafrontend/*.perspectivev3
provafrontend/!default.perspectivev3
provafrontend/xcuserdata
provafrontend/*.xccheckout
provafrontend/*.moved-aside
provafrontend/DerivedData
provafrontend/*.hmap
provafrontend/*.ipa
provafrontend/*.xcuserstate
provafrontend/project.xcworkspace

# Android/IntelliJ
#
provafrontend/build/
provafrontend/.idea
provafrontend/.gradle
provafrontend/local.properties
provafrontend/*.iml

# node.js
#
*/node_modules
provafrontend/node_modules/
provafrontend/npm-debug.log
provafrontend/yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https:/docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
